<div class="container">
    {{!-- <img src="/static/images/home.jpg" class="home-img w-100"> --}}
    <div class="home-img w-100 text-white">
        <div class="banner ">
            <h1 class="text-center title">
                DropStats
            </h1>
            <span class="resumen">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem veniam inventore eligendi repudiandae
                eos,
                corrupti ratione! Sapiente harum reprehenderit quisquam minima eaque, praesentium modi labore eligendi
                officiis cumque laborum asperiores.
            </span>
        </div>
    </div>
</div>