<div class="container">
    <div class="card summoner bg-dark mt-5">
        <form action="/summoner/search" method="get">
            <div class="card-title text-white">
                Search your summoner!
            </div>
            <input type="text" class="form-control" placeholder="DROPDEADS" name="summonerName" id="summonerName">
            <button type="submit">enviar</button>
        </form>
    </div>
</div>