@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #b92a2a;
}
.home-img{
    height: 92.7vh;
    background: url("/static/images/home.jpg") center center no-repeat;
    background-size: cover;
}
.banner{
    margin-top: 60vh;
    margin-left: 5vw;
    margin-right: 15vw;
    position: absolute;
}
.title{
    margin-bottom: 10vh;
    font-family: 'Coda Caption', sans-serif;
}
.summoner{
    height: 70vh;
}
.card-style{
    width: 16rem;
}
.rotation-img{
    width: 5vw;
    height: auto;
}
.rotation-img:hover{
    transition: all .5s ;
}
.style{
    width: 8rem;
}
.icon-name{
    margin-top: -0vh;
    margin-left: 2vw;
    z-index: 989999;
}
.champ-wallpaper{
    width: 40vw;
    height: auto;
    z-index: 0;
}
.img-last-champ{
    width: 35vw;
    height: auto;
}

